$font-family-base: "Roboto", "Helvetica Neue", Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #f2f2f2;
$gray-300: #dee2e6;
$gray-400: #b2b7bb;
$gray-500: #787c80;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$grays: (
  100: $gray-100,
  200: $gray-200,
  300: $gray-300,
  400: $gray-400,
  500: $gray-500,
  600: $gray-600,
  700: $gray-700,
  800: $gray-800,
  900: $gray-900
);

$blue: #2260a9;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #ff8387;
$red: #da2224;
$orange: #d86b1f;
$yellow: #ffc107;
$green: #098962;
$teal: #20c997;
$cyan: #17a2b8;
$laravel: #fb503b;
$facebook: #2f56a6;
$twitter: #1da1f2;

$colors: (
  blue: $blue,
  indigo: $indigo,
  purple: $purple,
  pink: $pink,
  red: $red,
  orange: $orange,
  yellow: $yellow,
  green: $green,
  teal: $teal,
  cyan: $cyan,
  white: $white,
  gray: $gray-600,
  gray-dark: $gray-800
);

$theme-colors: (
  primary: $blue,
  secondary: $gray-200,
  success: $green,
  info: $blue,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-800,
  facebook: $facebook,
  twitter: $twitter
);

$primary: map-get($theme-colors, "primary");
$secondary: map-get($theme-colors, "secondary");
$success: map-get($theme-colors, "success");
$info: map-get($theme-colors, "info");
$secondary: map-get($theme-colors, "secondary");
$warning: map-get($theme-colors, "warning");
$danger: map-get($theme-colors, "danger");

$text-color: $gray-700;

// Body
$body-bg: $white;
$body-color: $text-color;

// Links

$link-color: $primary;
$link-decoration: none;
$link-hover-color: darken($link-color, 15%);
$link-hover-decoration: underline;

$spacer: 1rem;
$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3)
);

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: (25: 25%, 50: 50%, 75: 75%, 100: 100%);

$space-1: map-get($spacers, 1);
$space-2: map-get($spacers, 2);
$space-3: map-get($spacers, 3);
$space-4: map-get($spacers, 4);
$space-5: map-get($spacers, 5);

$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;
